.catCardWrapper {
    position: relative;
}

.categoryCard {
    border-radius: 16px;
    padding: 32px 24px;
    vertical-align: middle;
}

.categoryCard.left {
    text-align: left;
}

.categoryCard.right {
    text-align: right;
}

.categoryCardIcon {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    border: 16px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

@media only screen and (max-width: 900px) {}