.containerheroBanner {
    display: flex;
}

.heroBanner {
    background-image: url(/images/hero-rv-scene.jpg);
    justify-content: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x: right;
}

.hero-content-wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    max-width: 485px;
    padding: 0px 32px;
    align-items: center;
}

.hero-content hr {
    border: 1px solid var(--Primary);
    width: 60%;
    margin: 32px auto;
}

.heroImageWrapper {
    width: 86%;
    position: relative;
    max-width: 700px;
}

.mobile-hero {
    display: none;
    width: 100%;
}

.heroImageProduct {
    position: absolute;
    z-index: 45;
    left: -8%;
}

.heroImageSquare {
    background: #E1F0F4;
    height: 115%;
    max-height: 350px;
    border-radius: 24px;
    width: 100%;
    position: absolute;
    z-index: 1;
    right: -7%;
    top: -42px;
    box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
}

.headerDisplayText {
    color: var(--gray-900, #101828);
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -1.2px;
    margin-bottom: 0px;
}

.headerSubText {
    color: var(--gray-600, #667085);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

@media only screen and (max-width: 900px) {
    .heroBanner {
        background-image: none;
        justify-content: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position-x: right;
        padding: 120px 0 60px;
        background-color: #E5E2E9;
    }

    .hero-content {
        padding: 0px 48px;
        margin: auto;
    }

    .hero-content hr {
        display: none;
    }

    .heroImageProduct {
        left: 0;
        top: 30px;
    }

    .mobile-hero {
        display: block;
        width: 100%;
    }

    .heroImageSquare {
        right: 0;
        top: 0;
        height: 80%;
    }

    .headerDisplayText {
        font-size: 32px;
        margin-top: 0px;
        line-height: 36px;
    }

    .headerSubText {
        font-size: 16px;
        margin-top: 0px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 630px) {
    .heroImageWrapper {
        height: 300px;
        margin: auto;
    }
}

@media only screen and (max-width: 850px) and (min-width: 631px) {
    .heroImageWrapper {
        height: 475px;
        margin: auto;
    }
}

@media only screen and (max-width: 900px) and (min-width: 850px) {
    .heroImageWrapper {
        height: 520px;
        margin: auto;
    }
}